version: '3.9'
services:
  mongo:
    image: mongo:6
    volumes:
      - mongo_data:/data/db
  redis:
    image: redis:7
    ports:
      - '6379:6379'
  api:
    build: ./services/api
    environment:
      - PORT=4000
      - MONGO_URI=mongodb://mongo:27017/queueapp
      - REDIS_URL=redis://redis:6379
      - CORS_ORIGIN=*
    depends_on:
      - mongo
      - redis
    ports:
      - '4000:4000'
  client:
    build:
      context: ./apps/client
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=http://localhost:4000
    environment:
      - VITE_API_URL=http://api:4000
    ports:
      - '5173:5173'
    depends_on:
      - api
  admin:
    build:
      context: ./apps/admin
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=http://localhost:4000
    environment:
      - VITE_API_URL=http://api:4000
    ports:
      - '5174:5173'
    depends_on:
      - api
volumes:
  mongo_data:
